.fifth-section {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 40px;
}

.first-div-fifth-section {
    padding-bottom: 80px;
    max-width: 1200px;
    width: 100%;
}

.second-div-fifth-section {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: row;
}

.right-column-fifth-section {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-top: 32px;
    max-width: 47%;
}

.small-heading {
    font-size: 0.875rem;
    line-height: 1.71429;
    font-weight: 600;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(102, 102, 102);
    text-transform: uppercase;
    margin-bottom: 24px;
}

.main-title {
    font-size: 2.5rem;
    line-height: 1.2;
    font-weight: 900;
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 0, 0);
    hyphens: initial;
    margin-bottom: 32px;
}

.paragraph-fifth-section {
    letter-spacing: -0.01em;
    text-align: left;
    color: rgb(0, 0, 0);
    font-size: 1.125rem;
    line-height: 2;
    font-weight: 500;
    hyphens: initial;
}

.left-column-fifth-section {
    width: 100%;
    max-width: 47%;
    height: auto;
    position: relative;
}

.feature-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}

@media screen and (max-width: 992px) {
.fifth-section {
    padding-left: 24px;
    padding-right: 24px;
}
}

@media screen and (max-width: 768px) {
.second-div-fifth-section {
    flex-wrap: wrap;
    align-items: center;
} 
.first-div-fifth-section {
    align-items: center;
}
.left-column-fifth-section {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    flex-basis: auto;
}
.right-column-fifth-section {
    width: 100%;
    min-width: auto;
    max-width: 100%;
    flex-basis: auto;
}
}

@media screen and (max-width: 480px) {
.main-title {
    margin-bottom: 24.6154px;
    text-align: center;
    font-size: 2rem;
}
.paragraph-fifth-section {
    text-align: center;
}
}