.second-section {
    background-color: rgb(251, 251, 251);
    background-position: center bottom;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    padding: 0px 40px;
}

.social-proof {
    padding-top: 56px;
    padding-bottom: 56px;
    max-width: 1038px;
    width: 100%;
}

.div-info {
    width: 100%;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    flex-direction: column;
}

.social-proof-header {
    font-size: 2rem;
    line-height: 1.25;
    letter-spacing: -0.01em;
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: 600;
    margin-bottom: 16px;
    max-width: 560px;
}

.number-calls {
    color: #8247F5;
}

.section-images-proof {
    display: flex;
    flex-flow: row wrap;
    -webkit-box-pack: justify;
    justify-content: space-between;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    margin-left: -16px;
    margin-right: -16px;
    opacity: 0.4;
}

.styled-image {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    padding-left: 16px;
    padding-right: 16px;
    width: auto;
    height: 64px;
}

@media screen and (max-width: 992px) {
.second-section {
    padding-left: 24px;
    padding-right: 24px;
}
.section-images-proof {
    justify-content: space-evenly;
    margin: 0px;
    align-items: center;
}
}

@media screen and (max-width: 480px) {
.social-proof {
    padding-top: 43.0769px;
    padding-bottom: 43.0769px;
}
.social-proof-header {
    font-size: 1.5rem;
    line-height: 1.33333;
}
.number-calls {
    font-size: 1.5rem;
    line-height: 1.33333;
}
.styled-image {
    width: 60%;
}
}